body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

section {
  padding: 0.5em;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  overflow: auto;
}
form {
  margin-bottom: 20px;
}
label {
  display: inline-block;
  width: 100px;
}
section input {
  display: block;
  padding: 0.5em;
  width: 200px;
  margin-bottom: 0.5em;
}
button {
  padding: 5px 10px;
  margin-top: 10px;
}

aside {
  margin-top: 20px;
  float: right;
}

image {
  display: block;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

section h2 {
  background-color: darkgray;
  padding: 5px;
}

header {
  background-color: black;
  color: white;
  padding: 0.5em;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: white;
  padding: 0.5em;
  margin-top: 20px;
  text-align: center;
  color: #888;
}

footer h1 {
  color: white;
  margin-bottom: 1em;
  font-size: 1.5em;
}

#listUsersResult {
  padding: 0;
  margin-top: 1em;
}

li.userListItem {
  list-style: none;
  padding: 0.25em;
  background-color: lightgray;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  overflow: auto;
}

.userListItem button {
  float: right;
  margin-left: 10px;
}

.userListItem span {
  width: 15em;
  display: inline-block;
  font-weight: bold;
}

dialog input{
  display: block;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  width: 90%;
}

dialog input:invalid{
  outline: 2px solid red;
}

dialog{
  border-style: none;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 43px 0px
}

dialog button{
  float: right;
}